<!DOCTYPE html>
<html>
<head>
	<title>Granny's Cookbook</title>
	<link rel="stylesheet" type="text/css" href="static/foundation.css">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
	<div class="header">
		<div id="head1">
			<h1>GRANNY'S COOKBOOK</h1>
		</div>
		<div id = "head2">
			Welcome to Granny's Cookbook! Let us know what your diet needs and what you want to eat, and we'll find you some recipes!
		</div>
	</div>

	<div class="header2">
	<form method="post">
	  <div class="grid-x grid-padding-x">
	     <div class="large-2 medium-2 small-1 cell">
	      <label></label>
	     </div>
	    <div class="large-3 medium-2 small-2 cell">
	      <img src="../static/carb_icon.png"/>
	    </div>
	    <div class="sectioning">
	    <div class="large-5 medium-6 small-8 cell">
              <label>Input desired total carb amounts, leave blank if you don't care about this!</label>
              <input type="text" placeholder="Ex: 100" name="carb" class="input-group-field"/>
	      <span class="input-group-label">g</span>
            </div>
	    </div>
	    <div class="large-2 medium-2 small-1 cell">
	      <label></label>
	    </div>
	  </div>

	  <div class="grid-x grid-padding-x">
	   <div class="large-2 medium-2 small-1 cell">
	      <label></label>
	    </div>
	    <div class="large-3 medium-2 small-1 cell">
	      <img src="../static/protein_icon.png"/>
	    </div>
	     <div class="sectioning">
	    <div class="large-5 medium-6 small-8 cell ">
	      <label>Input desired protein amounts, leave blank if you don't care about this!</label>
	      <input type="text" placeholder="Ex: 50" name="protein" class="input-group-field"/>
	      <span class="input-group-label">g</span>
	    </div>
	    </div>
	    <div class="large-2 medium-2 small-1 cell">
	      <label></label>
	   </div>
	  </div>
	  
	  <div class="grid-x grid-padding-x">
	    <div class="large-2 medium-2 small-1 cell">
	      <label></label>
	    </div>
	     <div class="large-3 medium-2 small-1 cell">
	      <img src="../static/fat_icon.png"/>
	     </div>
	      <div class="sectioning">
	    <div class="large-5 medium-6 small-8 cell">
              <label>Input desired total fats amounts, leave blank if you don't care about this!</label>
              <input type="text" placeholder="Ex: 50" name="fat" class="input-group-field"/>
	      <span class="input-group-label">g</span>
            </div>
	    </div>
	    <div class="large-2 medium-2 small-1 cell">
	      <label></label>
	    </div>
	  </div>
	  
	  <div class="grid-x grid-padding-x">
	    <div class="large-2 cell">
	      <label></label>
	    </div>
            <div class="large-8 cell">
	     <label>What specific food item are you looking for? *Required</label>
                <textarea placeholder="Ex: salmon" name="food"></textarea>
            </div>
	    <div class="large-2 cell">
	      <label></label>
            </div>
	  </div>
	 <div class="secondary button">
	    <input type="submit" value="submit">
	   </div>
	</form>
	</div>
		
</body>
</html>
