<!DOCTYPE html>
<html>
<head>
	<title>Granny's Cookbook</title>
	<link rel="stylesheet" type="text/css" href="static/foundation.css">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
	<div class="header">
		<div id="head1">
			<h1>GRANNY'S COOKBOOK</h1>
		</div>
		<div id = "head2">
			text
		</div>
	</div>

	<div class="header2">
	<form method="get">
	  <div class="grid-x grid-padding-x">
	    <div class="large-6 cell">
	      <label></label>
	    </div>
	    <div class="large-2 cell">
	      <label>Input Label</label>
	      <input type="text" placeholder="large-3.cell" class="input-group-field"/>
	      <span class="input-group-label">g</span>
	    </div>
	    <div class="large-4 cell">
	      <label></label>
	   </div>
	  </div>
	  <div class="grid-x grid-padding-x">
	    <div class="large-6 cell">
	      <label></label>
	    </div>
	    <div class="large-2 cell">
              <label>Input Label</label>
              <input type="text" placeholder="large-3.cell" class="input-group-field"/>
	      <span class="input-group-label">g</span>
            </div>
	    <div class="large-4 cell">
	      <label></label>
	    </div>
	  </div>
	  <div class="grid-x grid-padding-x">
	    <div class="large-6 cell">
	      <label></label>
	    </div>
	    <div class="large-2 cell">
              <label>Input Label</label>
              <input type="text" placeholder="large-3.cell" class="input-group-field"/>
	      <span class="input-group-label">g</span>
            </div>
	    <div class="large-4 cell">
	      <label></label>
	    </div>
	  </div>
	  <div class="grid-x grid-padding-x">
	    <div class="large-6 cell">
	      <label></label>
	    </div>
	    <div class="large-2 cell">
              <label>Input Label</label>
              <input type="text" placeholder="large-3.cell" class="input-group-field"/>
	      <span class="input-group-label">g</span>
             </div>
	     <div class="large-4 cell">
	       <label></label>
	     </div>
          </div>
	  <div class="grid-x grid-padding-x">
	    <div class="large-6 cell">
	      <label></label>
	    </div>
            <div class="large-2 cell">
	     <label>Textarea Label</label>
                <textarea placeholder="large-2.cell"></textarea>
            </div>
	    <div class="large-4 cell">
	      <label></label>
            </div>
	  </div>
	  
	</form>
	</div>
		
</body>
</html>
