<!DOCTYPE html>
<html>
<head>
	<title>Granny's Cookbook</title>
	<link rel="stylesheet" type="text/css" href="static/foundation.css">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
	<div class="header">
		<div id="head1">
			<h1>GRANNY'S COOKBOOK</h1>
		</div>
		<div id = "head2">
			Here are your recipes!
		</div>
	</div>

	<div class="pad">
	  <div class="large-12 cell">
	    <div class="callout">
            <h5>{{recipe_one}}</h5>
            <p>{{info_one}}</p>
            <a href="/" class="small button">Go to the food!</a>
            </div>
	 </div>
	</div>
		
</body>
</html>
